.TextParagraph {
    font-size: 14pt !important;
    line-height: 20pt !important;
}
.TextFlush {
    font-size: 14pt !important;
    line-height: 20pt !important;
}
.NoteTextParagraph {
    font-size: 14pt !important;
    line-height: 20pt !important;
}
.indent {
    font-size: 14pt !important;
    line-height: 20pt !important;
}
.indentbull {
    font-size: 14pt !important;
    line-height: 20pt !important;
}
.noindent {
    font-size: 14pt !important;
    line-height: 20pt !important;
}
.box-para {
    font-size: 14pt !important;
    line-height: 20pt !important;
}
